<a href="https://colab.research.google.com/github/baeck3505/BA_dataFrame/blob/main/ch03_%EB%AC%B8%EC%9E%90%EB%8D%B0%EC%9D%B4%ED%84%B0%EA%B0%80%EA%B3%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 학습목표

###1.대소문자 처리하기
###2. 문자열 분리하기
###3. 불필요한 문자 제거하기
###4. 문자 데이터 처리하기 실습

# 1. **대소문자 처리하기**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/코드잇csv/airbnb.csv')
df

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.0,55,"Avondale, Chicago.",48
1,DB7921,MASSACHUSETTS,4,1,Apartment,NaN,0,"South End, Boston.",115
2,OZ5857,ILLINOIS,4,3,Apartment,100.0,51,"Avondale, Chicago.",150
3,HY8797,california,2,1,Apartment,75.0,4,"SoMa, San Francisco.",125
4,VN7858,massachusetts,2,1,House,88.0,23,"West Roxbury, Boston.",64
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,"Venice, Los Angeles.",150
709,ZR5298,california,4,2,Apartment,93.0,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.0,3,"Redondo Beach, Los Angeles.",100
711,EE8333,ILLINOIS,2,1,House,80.0,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,"East Boston, Boston.",115

In [ ]:
df['state'].unique() #소문자로 통일

array(['Illinois', 'MASSACHUSETTS', 'ILLINOIS', 'california',
       'massachusetts', 'California', 'Massachusetts', 'CALIFORNIA',
       'illinois'], dtype=object)

In [ ]:
df['state'].str.lower()#소문자로 통일

0           illinois
1      massachusetts
2           illinois
3         california
4      massachusetts
           ...
708       california
709       california
710       california
711         illinois
712    massachusetts
Name: state, Length: 713, dtype: object

In [ ]:
df['state'].str.upper() #대문자로 통일

0           ILLINOIS
1      MASSACHUSETTS
2           ILLINOIS
3         CALIFORNIA
4      MASSACHUSETTS
           ...
708       CALIFORNIA
709       CALIFORNIA
710       CALIFORNIA
711         ILLINOIS
712    MASSACHUSETTS
Name: state, Length: 713, dtype: object

In [ ]:
df['state'].str.capitalize() #첫글자만 대문자로 통일

0           Illinois
1      Massachusetts
2           Illinois
3         California
4      Massachusetts
           ...
708       California
709       California
710       California
711         Illinois
712    Massachusetts
Name: state, Length: 713, dtype: object

In [ ]:
df['state'] = df['state'].str.capitalize() #변환값을 원래 데이터에 대입

In [ ]:
df #이후 출력

,id,state,guests,beds,property_type,rating,n_reviews,location,price
0,BF1406,Illinois,2,1,Apartment,96.0,55,"Avondale, Chicago.",48
1,DB7921,Massachusetts,4,1,Apartment,NaN,0,"South End, Boston.",115
2,OZ5857,Illinois,4,3,Apartment,100.0,51,"Avondale, Chicago.",150
3,HY8797,California,2,1,Apartment,75.0,4,"SoMa, San Francisco.",125
4,VN7858,Massachusetts,2,1,House,88.0,23,"West Roxbury, Boston.",64
...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,"Venice, Los Angeles.",150
709,ZR5298,California,4,2,Apartment,93.0,3,"Mid-Wilshire, Los Angeles.",100
710,XZ5531,California,2,1,Bungalow,93.0,3,"Redondo Beach, Los Angeles.",100
711,EE8333,Illinois,2,1,House,80.0,15,"Lakeview, Chicago.",115
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,"East Boston, Boston.",115

# **2. 문자열 분리하기**

In [ ]:
df['location'].str.split(',')#위치컬럼을 보면 하나의 컬럼에 2개의 지역명이 있어 이것을 분리하자

0               [Avondale,  Chicago.]
1               [South End,  Boston.]
2               [Avondale,  Chicago.]
3             [SoMa,  San Francisco.]
4            [West Roxbury,  Boston.]
                    ...
708           [Venice,  Los Angeles.]
709     [Mid-Wilshire,  Los Angeles.]
710    [Redondo Beach,  Los Angeles.]
711             [Lakeview,  Chicago.]
712           [East Boston,  Boston.]
Name: location, Length: 713, dtype: object

In [ ]:
df['location'].str.split(',').str[0] #시리즈에서 가장 앞의 값을 가져온다

0           Avondale
1          South End
2           Avondale
3               SoMa
4       West Roxbury
           ...
708           Venice
709     Mid-Wilshire
710    Redondo Beach
711         Lakeview
712      East Boston
Name: location, Length: 713, dtype: object

In [ ]:
df['neighborhood'] = df['location'].str.split(',').str[0]  #새로운컬럼을 만들고 위의 데이터를 저장하자

In [ ]:
df

,id,state,guests,beds,property_type,rating,n_reviews,location,price,neighborhood
0,BF1406,Illinois,2,1,Apartment,96.0,55,"Avondale, Chicago.",48,Avondale
1,DB7921,Massachusetts,4,1,Apartment,NaN,0,"South End, Boston.",115,South End
2,OZ5857,Illinois,4,3,Apartment,100.0,51,"Avondale, Chicago.",150,Avondale
3,HY8797,California,2,1,Apartment,75.0,4,"SoMa, San Francisco.",125,SoMa
4,VN7858,Massachusetts,2,1,House,88.0,23,"West Roxbury, Boston.",64,West Roxbury
...,...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,"Venice, Los Angeles.",150,Venice
709,ZR5298,California,4,2,Apartment,93.0,3,"Mid-Wilshire, Los Angeles.",100,Mid-Wilshire
710,XZ5531,California,2,1,Bungalow,93.0,3,"Redondo Beach, Los Angeles.",100,Redondo Beach
711,EE8333,Illinois,2,1,House,80.0,15,"Lakeview, Chicago.",115,Lakeview
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,"East Boston, Boston.",115,East Boston

In [ ]:
df['city'] = df['location'].str.split(',').str[1]#새로운컬럼을 만들고 위의 데이터를 저장하자

In [ ]:
df

,id,state,guests,beds,property_type,rating,n_reviews,location,price,neighborhood,city
0,BF1406,Illinois,2,1,Apartment,96.0,55,"Avondale, Chicago.",48,Avondale,Chicago.
1,DB7921,Massachusetts,4,1,Apartment,NaN,0,"South End, Boston.",115,South End,Boston.
2,OZ5857,Illinois,4,3,Apartment,100.0,51,"Avondale, Chicago.",150,Avondale,Chicago.
3,HY8797,California,2,1,Apartment,75.0,4,"SoMa, San Francisco.",125,SoMa,San Francisco.
4,VN7858,Massachusetts,2,1,House,88.0,23,"West Roxbury, Boston.",64,West Roxbury,Boston.
...,...,...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,"Venice, Los Angeles.",150,Venice,Los Angeles.
709,ZR5298,California,4,2,Apartment,93.0,3,"Mid-Wilshire, Los Angeles.",100,Mid-Wilshire,Los Angeles.
710,XZ5531,California,2,1,Bungalow,93.0,3,"Redondo Beach, Los Angeles.",100,Redondo Beach,Los Angeles.
711,EE8333,Illinois,2,1,House,80.0,15,"Lakeview, Chicago.",115,Lakeview,Chicago.
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,"East Boston, Boston.",115,East Boston,Boston.

In [ ]:
airbnb_df = df.drop(columns = 'location') #location 컬럼삭제 후 변수에 지정

In [ ]:
airbnb_df

,id,state,guests,beds,property_type,rating,n_reviews,price,neighborhood,city
0,BF1406,Illinois,2,1,Apartment,96.0,55,48,Avondale,Chicago.
1,DB7921,Massachusetts,4,1,Apartment,NaN,0,115,South End,Boston.
2,OZ5857,Illinois,4,3,Apartment,100.0,51,150,Avondale,Chicago.
3,HY8797,California,2,1,Apartment,75.0,4,125,SoMa,San Francisco.
4,VN7858,Massachusetts,2,1,House,88.0,23,64,West Roxbury,Boston.
...,...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,150,Venice,Los Angeles.
709,ZR5298,California,4,2,Apartment,93.0,3,100,Mid-Wilshire,Los Angeles.
710,XZ5531,California,2,1,Bungalow,93.0,3,100,Redondo Beach,Los Angeles.
711,EE8333,Illinois,2,1,House,80.0,15,115,Lakeview,Chicago.
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,115,East Boston,Boston.

# **3.불필요한 문자 제거하기**

In [ ]:
airbnb_df[airbnb_df['city'] == 'Boston']#city컬럼에 보스턴인 값만 출력하자

Empty DataFrame
Columns: [id, state, guests, beds, property_type, rating, n_reviews, price, neighborhood, city]
Index: []

In [ ]:
airbnb_df['city'].unique() #불필요한 공백과 점들을 전처리

array([' Chicago.', ' Boston.', ' San Francisco.', ' Los Angeles.'],
      dtype=object)

In [ ]:
airbnb_df['city'].str.strip() #공백을 제거

0            Chicago.
1             Boston.
2            Chicago.
3      San Francisco.
4             Boston.
            ...
708      Los Angeles.
709      Los Angeles.
710      Los Angeles.
711          Chicago.
712           Boston.
Name: city, Length: 713, dtype: object

In [ ]:
airbnb_df['city'] = airbnb_df['city'].str.strip() #제거한 데이터를 프레임에 지정

In [ ]:
airbnb_df['city'].str.replace('.','', regex=False) #점을 제거

0            Chicago
1             Boston
2            Chicago
3      San Francisco
4             Boston
           ...
708      Los Angeles
709      Los Angeles
710      Los Angeles
711          Chicago
712           Boston
Name: city, Length: 713, dtype: object

In [ ]:
airbnb_df['city'] = airbnb_df['city'].str.replace('.','', regex=False)

In [ ]:
airbnb_df #공백과 점을 제거

,id,state,guests,beds,property_type,rating,n_reviews,price,neighborhood,city
0,BF1406,Illinois,2,1,Apartment,96.0,55,48,Avondale,Chicago
1,DB7921,Massachusetts,4,1,Apartment,NaN,0,115,South End,Boston
2,OZ5857,Illinois,4,3,Apartment,100.0,51,150,Avondale,Chicago
3,HY8797,California,2,1,Apartment,75.0,4,125,SoMa,San Francisco
4,VN7858,Massachusetts,2,1,House,88.0,23,64,West Roxbury,Boston
...,...,...,...,...,...,...,...,...,...,...
708,XG3289,California,2,1,Apartment,97.0,60,150,Venice,Los Angeles
709,ZR5298,California,4,2,Apartment,93.0,3,100,Mid-Wilshire,Los Angeles
710,XZ5531,California,2,1,Bungalow,93.0,3,100,Redondo Beach,Los Angeles
711,EE8333,Illinois,2,1,House,80.0,15,115,Lakeview,Chicago
712,AA6024,Massachusetts,3,1,Apartment,96.0,61,115,East Boston,Boston

In [ ]:
airbnb_df['city'].str.strip().str.replace('.','',regex=False) #위의 과정을 한번에

0            Chicago
1             Boston
2            Chicago
3      San Francisco
4             Boston
           ...
708      Los Angeles
709      Los Angeles
710      Los Angeles
711          Chicago
712           Boston
Name: city, Length: 713, dtype: object

#**실습 설명**

###효준이가 수집한 핸드폰 데이터를 좀 더 사용하기 좋게 전처리해 봅시다. 아래에 쓰여 있는 대로 brand, name, size 컬럼에 있는 데이터를 가공해 주세요.

###1. brand 컬럼에 저장된 제조사명의 대소문자 표기를 통일해 주세요. 첫 글자는 대문자로, 나머지 글자는 소문자로 바꿔 주시면 됩니다.


###2.name 컬럼에는 iPhone 14 Pro (256GB)와 같이 스마트폰의 모델명(iPhone 14 Pro)과 용량(256GB) 정보가 함께 들어 있습니다. 모델과 용량을 쉽게 구분해서 볼 수 있도록 문자열을 분리해 주세요. 모델명은 model 컬럼, 용량은 capacity 컬럼에 저장하고, 기존의 name 컬럼은 삭제하면 됩니다. 모델명 앞뒤에 불필요한 공백 문자열이 없도록 처리하는 것도 잊지 마세요!


###3. size 컬럼에는 스마트폰의 디스플레이 크기 정보가 담겨 있습니다. 그런데 데이터에 인치(inch)를 나타내는 " 기호가 들어 있어서 pandas가 이 컬럼의 데이터 타입을 문자 데이터로 인식하고 있네요. " 기호를 없앤 뒤 size 컬럼의 데이터 타입을 적절한 숫자 타입으로 바꿔 주세요.

In [ ]:
cellphone_df = pd.read_csv('/content/drive/MyDrive/코드잇csv/cellphone.csv')
cellphone_df

,brand,name,size,price,battery,weight,year
0,apple,iPhone 14 (128GB),"6.1""",1250.0,3729,172.0,2022
1,apple,iPhone 14 (256GB),"6.1""",1400.0,3729,172.0,2022
2,Apple,iPhone 14 (512GB),"6.1""",1700.0,3729,172.0,2022
3,apple,iPhone 14 Plus (128GB),"6.7""",1350.0,4325,203.0,2022
4,APPLE,iPhone 14 Plus (256GB),"6.7""",1500.0,4325,203.0,2022
...,...,...,...,...,...,...,...
65,SAMSUNG,Galaxy S20 Ultra (512GB),"6.9""",1793.0,5000,220.0,2020
66,samsung,Galaxy S20+ (256GB),"6.7""",1353.0,4500,186.0,2020
67,SAMSUNG,Galaxy Z Flip2 (256GB),"6.7""",1650.0,3300,183.0,2020
68,Samsung,Galaxy Z Fold2 (256GB),"7.6""",1892.0,4500,282.0,2020
69,samsung,Galaxy Z Fold2 Thom Browne Edition (256GB),"7.6""",3960.0,4500,282.0,2020

In [ ]:
# 첫글자 대문자로 통일
cellphone_df['brand'] = cellphone_df['brand'].str.capitalize()

In [ ]:
cellphone_df

,brand,name,size,price,battery,weight,year
0,Apple,iPhone 14 (128GB),"6.1""",1250.0,3729,172.0,2022
1,Apple,iPhone 14 (256GB),"6.1""",1400.0,3729,172.0,2022
2,Apple,iPhone 14 (512GB),"6.1""",1700.0,3729,172.0,2022
3,Apple,iPhone 14 Plus (128GB),"6.7""",1350.0,4325,203.0,2022
4,Apple,iPhone 14 Plus (256GB),"6.7""",1500.0,4325,203.0,2022
...,...,...,...,...,...,...,...
65,Samsung,Galaxy S20 Ultra (512GB),"6.9""",1793.0,5000,220.0,2020
66,Samsung,Galaxy S20+ (256GB),"6.7""",1353.0,4500,186.0,2020
67,Samsung,Galaxy Z Flip2 (256GB),"6.7""",1650.0,3300,183.0,2020
68,Samsung,Galaxy Z Fold2 (256GB),"7.6""",1892.0,4500,282.0,2020
69,Samsung,Galaxy Z Fold2 Thom Browne Edition (256GB),"7.6""",3960.0,4500,282.0,2020

In [ ]:
cellphone_df['model'] = cellphone_df['name'].str.split('(').str[0] #(를 기준으로 나눠서 새로운 모델컬럼에 저장

In [ ]:
cellphone_df['capecity'] = cellphone_df['name'].str.split('(').str[1] #(를 기준으로 나눠서 새로운 용량컬럼에 저장

In [ ]:
cellphone_df['model'] = cellphone_df['model'].str.strip() #모델컬럼에 데이터의 앞뒤 공백을 제거

In [ ]:
cellphone_df['capecity'] = cellphone_df['capecity'].str.replace(')','') #용량데이이터의 끝 부분 )를 공백으로 바꾸고 저장

In [ ]:
cellphone_df.drop(columns = 'name') #네임컬럼을 삭제

KeyError: "['name'] not found in axis"

In [ ]:
cellphone_df

,brand,size,price,battery,weight,year,model,capecity
0,Apple,"6.1""",1250.0,3729,172.0,2022,iPhone 14,128GB
1,Apple,"6.1""",1400.0,3729,172.0,2022,iPhone 14,256GB
2,Apple,"6.1""",1700.0,3729,172.0,2022,iPhone 14,512GB
3,Apple,"6.7""",1350.0,4325,203.0,2022,iPhone 14 Plus,128GB
4,Apple,"6.7""",1500.0,4325,203.0,2022,iPhone 14 Plus,256GB
...,...,...,...,...,...,...,...,...
65,Samsung,"6.9""",1793.0,5000,220.0,2020,Galaxy S20 Ultra,512GB
66,Samsung,"6.7""",1353.0,4500,186.0,2020,Galaxy S20+,256GB
67,Samsung,"6.7""",1650.0,3300,183.0,2020,Galaxy Z Flip2,256GB
68,Samsung,"7.6""",1892.0,4500,282.0,2020,Galaxy Z Fold2,256GB
69,Samsung,"7.6""",3960.0,4500,282.0,2020,Galaxy Z Fold2 Thom Browne Edition,256GB

In [ ]:
cellphone_df['size'] = cellphone_df['size'].str.replace('"','').astype('float') #사이즈시리즈 뒤에 "를 제거하고 소수형으로 변환 후 저장

AttributeError: Can only use .str accessor with string values!

In [ ]:
cellphone_df

,brand,size,price,battery,weight,year,model,capecity
0,Apple,6.1,1250.0,3729,172.0,2022,iPhone 14,128GB
1,Apple,6.1,1400.0,3729,172.0,2022,iPhone 14,256GB
2,Apple,6.1,1700.0,3729,172.0,2022,iPhone 14,512GB
3,Apple,6.7,1350.0,4325,203.0,2022,iPhone 14 Plus,128GB
4,Apple,6.7,1500.0,4325,203.0,2022,iPhone 14 Plus,256GB
...,...,...,...,...,...,...,...,...
65,Samsung,6.9,1793.0,5000,220.0,2020,Galaxy S20 Ultra,512GB
66,Samsung,6.7,1353.0,4500,186.0,2020,Galaxy S20+,256GB
67,Samsung,6.7,1650.0,3300,183.0,2020,Galaxy Z Flip2,256GB
68,Samsung,7.6,1892.0,4500,282.0,2020,Galaxy Z Fold2,256GB
69,Samsung,7.6,3960.0,4500,282.0,2020,Galaxy Z Fold2 Thom Browne Edition,256GB

# 3-1 대소문자 처리하기

## 1.스테이트컬럼에 있는 값들을 확인
## airbnb_df['state'].unique()

## 2.모든글자를 모두 소문자로 통일
## airbnb_df['state'].str.lower()

## 3.모든글자를 모두 대문자로 통일
## airbnb_df['state'].str.upper()

## 4.앞글자만 대문자로
## airbnb_df['state'].str.capitalize() 변경 후 원래 데이터에 대입
## airbnb_df = airbnb_df['state'].str.capitalize()

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
# 3-2 문자열 분리하기

## 하나의 컬럼에 2개 값이 있다면 각각의 컬럼으로 나누자(split함수를 사용하고 ,를 기준으로 나누자)

##1. airbnb_df['location'].str.split(',')
##2. airbnb_df['neighborhood'] = airbnb_df['location'].str.split(',').str[0] -> 0번 인덱스를 가져와서 새로운컬럼에 지정하자
##3.airbnb_df['city'] = airbnb_df['location'].str.split(',').str[1] -> 1번 인덱스를 가져와서 새로운 컬럼에 지정하자
##4. 원래 있었던 location컬럼을 삭제 후 데이터프레임에 저장하자
## airbnb.df = aribnb_df.drop(columns = 'location')

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
# 3-3 불필요한 문자 제거하기

## 불린값으로 city값에서 보스턴인 값들만 가져오자, 값들 앞에 공백과 .을 지워보자(stlip)
##1. airbnb_df['city'].str.stlip()
##2. airbnb_df['city'] = airbnb_df['city'].str.stlip() -> 공백제거
##3. airbnb_df['city'].str.replace('.', '', regex=False) -> ,을 공백으로 지우자
##4. airbnb_df['city'] = airbnb_df['city'].str.replace('.', '', regex=False)
##5. airbnb_df

##위 코드들을 한줄로 표현하자
## airbnb_df['city'].str.stlip().str.replace('.', '',regex=False)